@model IEnumerable<pharm.Models.Expens>

@{
                /**/

                ViewBag.Title = "Expense History";
                if (Session["Usertype"] != null)
                {
                    if (Session["Usertype"].ToString() == "Admin")
                    {
                        Layout = "~/Views/Shared/_Layout.cshtml";
                    }
                    else
                    {
                        Layout = "~/Views/Shared/_LayoutStaff.cshtml";
                    }
                }
                else
                {
                    Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Login/Login'</script>");
                }
}
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({

        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            columnDefs: [

                {
                    orderable: false, targets: -1 }

            ],


    } );
    });

</script>
@*<a href="@Url.Action("Create", "SalesHistory")" class="btn btn-warning">
        Create New
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>*@
<br /><br />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="box box-primary box-body">
    <table id="example" class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr style="background-color:#3d566e; color:#ecf0f1">
                <th>
                    @Html.DisplayNameFor(Model => Model.Expense_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense_Information.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expense_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expense_Information.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.Date))
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-md glyphicon glyphicon-edit" })
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-md glyphicon glyphicon-info-sign" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-md glyphicon glyphicon-trash", @onclick = "return confirm('Are you sure you want to delete?');" })
                        </td>*@
                </tr>
            }

        </tbody>
    </table>
</div>