@model pharm.Models.Supplier
@{
    ViewBag.Title = "Supplier Details";
    ViewBag.SubTitle = "Suppliers";
    if (Session["Usertype"] != null)
    {
        if (Session["Usertype"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutStaff.cshtml";
        }
    }
    else
    {
        Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Login/Login'</script>");
    }
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@*<h2>&nbspSupplier Details</h2>*@
<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal box box-primary">
            <table align="center" border="1" id="datatable" class="table table-condensed table-striped table-bordered table-hover display compact">
                <tr>
                    <td>Supplier Name</td>
                    <td> @Html.DisplayFor(model => model.Supplier_Name)</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td> @Html.DisplayFor(model => model.Contact)</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td> @Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        &nbsp&nbsp  @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary btn-md" })
                        &nbsp @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger btn-md" })
                    </td>
                </tr>
            </table>


        </div>
    </div>

</div>
<script>

swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your imaginary file has been deleted!", {
      icon: "success",
    });
  } else {
    swal("Your imaginary file is safe!");
  }
});
</script>