@model IEnumerable<pharm.Models.Supplier>

@{
    ViewBag.Title = "List of Suppliers";
    ViewBag.SubTitle = "Suppliers";
    if (Session["Usertype"] != null)
    {
        if (Session["Usertype"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutStaff.cshtml";
        }
    }
    else
    {
        Response.Write("<script>alert('You dont have permission to access this page') ; window.location.href='/Login/Login'</script>");
    }
}
<style>
    tr {
        border: .4pt
    }

    table {
        border: thick solid
    }

    thead {
        border: 14pt double(1,12,1)
    }

    thead {
        background: cyan
    }

    tr.odd {
        background: yellow
    }

    tr.even {
        background: cyan
    }
</style>



<link rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css'
      media="screen" />
<link rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css'
      media="screen" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.8/sweetalert2.min.js"></script>
<script type="text/javascript">

    function deleteOrder(ID)
{
        debugger;
       swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this Order?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete",
                confirmButtonColor: "#ec6c62"
      
            },
            function()
             {   debugger;
                $.ajax({
                        url: "/Supplier/Delete/",
                        data:
                  {   debugger;
                            "ID": ID
                        },
                        type: "DELETE"
                    })
       debugger;
                    .done(function(data)
                          {
                        sweetAlert
                            ({
                                    title: "Deleted!",
                                    text: "Your file was successfully deleted!",
                                    type: "success"
                                },
                                function()
                             {
                                    window.location.href = '/Supplier/Index';
                                });
                    })
                    .error(function(data)
                      {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    });
            });
    }
</script>

<a href="@Url.Action("Create", "Supplier")" class="btn btn-warning">
    Create New
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
<div class="box box-primary box-body">

    <br />


    <table id="myTable" class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr style="background-color:#3d566e; color:#ecf0f1">
            <tr style="background-color:#3d566e; color:#ecf0f1">

                <td class="pop-10">Supplier Name</td>
                <td class="pop-10"> Contact</td>
                <td class="pop-15"> Email</td>
                <td class="pop-10">Action</td>


            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-md glyphicon glyphicon-edit" })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-md glyphicon glyphicon-info-sign" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-md glyphicon glyphicon-trash", @data_confirmprompt = "are you sure?" })
                        <input id="Delete" onclick="deleteOrder('@item.ID')" type="button" value="Delete" />
                      

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>







